<link rel="stylesheet" href="css/report-style.css">

<body class="animsition">
	<!-- <div class="page-wrapper"> -->
		<div class="page-content--bge5">
			<div class="container">
				<div class="login-wrap">
					<div class="login-content">
						<div class="login-logo">
							<div class="title">Releve de mes postes
							</div>
						</div>
					</div>

					<div class="slider">
						<div class="slider-img">
								<%= image_tag '/image/fond/building.jpg', alt:'building' %>
							<div class="wrapInfoPost">
								<%= image_tag '/image/icone/pictogramme/Heart.png', alt:'heart', class: 'small-icon' %>
								<p class="number">275</p> 
								<h3 class="name-country">Madagascar</h3>
							</div>
						</div>
						
						<div class="slider-img">
								<%= image_tag '/image/fond/montagne.jpg', alt:'montagne' %>
							<div class="wrapInfoPost">
								<%= image_tag '/image/icone/pictogramme/Heart.png', alt:'heart', class: 'small-icon' %>
								<p class="number">120</p>
								<h3 class="name-country">France</h3>
							</div>
						</div>
						<div class="slider-img">
								<%= image_tag '/image/fond/ville.jpg', alt:'ville' %>
							<div class="wrapInfoPost">
								<%= image_tag '/image/icone/pictogramme/Heart.png', alt:'heart', class: 'small-icon' %>
								<p class="number">780</p>
								<h3 class="name-country">Ile de la réunion</h3>
							</div>
						</div>
						<div class="slider-img">
								<%= image_tag '/image/fond/rivière.jpg', alt:'rivière' %>
							<div class="wrapInfoPost">
								<%= image_tag '/image/icone/pictogramme/Heart.png', alt:'heart', class: 'small-icon' %>
								<p class="number">500</p>
								<h3 class="name-country">Ile de la réunion</h3>
							</div>
						</div>
					</div>

					<div class="description-article">
							<div class="description-type">
									<%= image_tag '/image/fond/lenovo.jpg', alt: 'lenovo', class:'float-image' %>
									<div class="description-type">
										<h6 class="post-description">Description</h4>
										<h4>Madagascar<span><%= image_tag '/image/icone/drapeau/mg.png', alt:'mg', class:'flag-title'%></span></h4>
										<p class="capital-country">Tananarivo</p> 
										<span><%= image_tag '/image/icone/pictogramme/Green-point.png', alt: 'point', class:'green-point' %></span>2345
										<%= image_tag '/image/icone/pictogramme/Heart.png', alt: 'heart', class: 'icon-article' %> 
										<p class="number-like">2345</p> 
							</div>
							<div class="star-point">
								<span><%= image_tag '/image/icone/pictogramme/rate-star-button.png', alt: 'star', class: 'numberStarPoint'%></span>
								<span><%= image_tag '/image/icone/pictogramme/rate-star-button.png', alt: 'star', class: 'numberStarPoint'%></span>
								<span><%= image_tag '/image/icone/pictogramme/rate-star-button.png', alt: 'star', class: 'numberStarPoint'%></span>
							</div>
							<p class="date">
								12-05-2019
								<br/>@client #TheSocialRace #Madagascar #igermada #Tananarivo
							</p>
					</div>

					<div class="network">
						<p class="network-title">RESEAUX SOCIAUX 6/6</p>
						<div class="logo-network">
							<div class="net-instagram">
								<%= image_tag "/image/icone/network/instagram simple.png", alt: "instagram"%>
								<p>200</p>
							</div>
							<div class="net-facebook">	
								<%= image_tag "/image/icone/network/facebook-logo.png", alt: "facebook"%>
								<p>1000</p>
							</div>
							<div class="net-tiktok">
								<%= image_tag "/image/icone/network/tiktok.png", alt: "tiktok"%>
								<p>75</p>
							</div>
							<div class="net-pinterest">
								<%= image_tag "/image/icone/network/pinterest-logo.png", alt: "pinterest"%>
								<p>1 K</p>
							</div>
							<div class="net-linkedin">
								<%= image_tag "/image/icone/network/linkedin-logo.png", alt: "linkedin-logo"%>
								<p>60</p>
							</div>
							<div class="net-twitter">
								<%= image_tag "/image/icone/network/twitter-logo.png", alt: "twitter"%>
								<p>10</p>
							</div>
						</div>
					</div>

					<div class="money1">
						<p>5 €</p>	
					</div>

					<div class="buttom-money">
						<button>31 €</button>
					</div>
                   <div class="footer-division">
						<a href="">
							<%= image_tag "/image/footer/Loupe.png", alt: "loop", class: 'picto' %>
						</a>
						<a href="">
							<%= image_tag "/image/footer/Coeur.png", alt: "Coeur", class: 'picto' %>
						</a>
						<a href="">
							<%= image_tag "/image/footer/Euro.png", alt: "Euro", class: 'picto' %>
						</a>
						<a href="<%= message_path %>">
							<%= image_tag "/image/footer/Message.png", alt: "Message", class: 'picto' %>
						</a>
						<a href="<%= profil_path %>">
							<%= image_tag "/image/footer/Profile.png", alt: "Profile", class: 'picto' %>
						</a>
					</div>
			    </div>
	        </div>
        </div>
</body>
